pre code {
    margin: 1em 0;
    font-size: .9em;
    line-height: 1.3em;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f8f8f8;
    overflow: auto;
}

canvas {
    margin: 1em 0;
    width: 100% !important;
    height: auto !important;
    background: #eee url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgoJPGxpbmUgeDE9IjAiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iIzdmZWNmZiIgLz4KCTxsaW5lIHgxPSI1MCUiIHkxPSIwIiB4Mj0iNTAlIiB5Mj0iMTAwJSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiM3ZmVjZmYiIC8+Cjwvc3ZnPg==);
}

.version {
    color: #888;
}

section:not(:last-of-type):after {
    content: ' ';
    display: block;
    margin: 1em auto;
    width: 25%;
    border-top: 1px solid #aaa;
}

.button {
    display: inline-block;
    padding: .6em 1.5em;
    line-height: 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: .3em;
    border-bottom: .2em solid #32a374;
    background: #38B27F;
}

@media screen and (min-width: 600px) {

    .version,
    .links {
        font-size: .7em;
    }

}
